<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="/style.css" th:href="@{/style.css}" rel="stylesheet"/>
        <title>EditList</title>
    </head>
    <body>
        <div th:replace="header :: header"></div>
        <h1>EditList</h1>
        <h2>Incomplete</h2>
        <table>
            <tr th:each="data:${data}"  th:if="*{data.state} eq false">
                <td th:text="*{data.comment}"></td>
                <td>
                    <form method="post" th:action="@{/comment}">
                        <input type="hidden" name="id" th:value="*{data.id}"/>
                        <input type="text"  name="comment">
                        <input type="submit" value="Edit"/>
                    </form>
                </td>
            </tr>
        </table>
        <h2>Completed</h2>
        <table>
            <tr th:each="data:${data}"  th:if="*{data.state} eq true">
                <td th:text="*{data.comment}"></td>
                <td>
                    <form method="post" th:action="@{/undone}">
                        <input type="hidden" name="id" th:value="*{data.id}"/>
                        <input type="submit" value="undone" class="undone"/>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/delete}">
                        <input type="hidden" name="id" th:value="*{data.id}"/>
                        <input type="submit" value="delete" class="done"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>