<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="/style.css" th:href="@{/style.css}" rel="stylesheet"/>
        <title>SearchList</title>
    </head>
    <body>
        <div th:replace="header :: header"></div>
        <h2>Search</h2>
        <form method="post" th:action="@{/search}">
            <input type="text"  name="keyword">
            <input type="submit" value="Search"/>
            <table>
                <tr th:each="data:${data}" th:if="*{data.state} eq false">
                    <th th:text="*{data.deadlineDt}"></th>
                    <td th:text="*{data.comment}"></td>
                    <td th:text="*{data.creationDt}"></td>
                </tr>
            </table>
        </form>
    </body>
</html>