<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <title>SearchList</title>
        <style>
            h1 {font-size: 2rem; border-bottom: solid 3px #4caf93;}
            h2 {font-size: 1.6rem; border-bottom: solid 1px #4caf93;}
            p {padding-left: 30px;}
            table {padding-left: 30px; border-spacing: 0;}
            table th {background-color: rgba(76, 175, 147, 0.175);}
            table th, td {padding: 5px;}
        </style>
    </head>
    <body>
        <p>
            <a th:href="@{/todolist}">TodoList</a>
            <a th:href="@{/search}">Search</a>
            <a th:href="@{/edit}">Edit</a>
        </p>
        <h1>SearchList</h1>
    </body>
</html>